.adminHeader{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #04BF55;
    font-size: 5rem;
    margin-top: 0%;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1704aa;	
    text-shadow: 0 0 15px #000;		
    margin-bottom: 0%;
}

.userLabel{
    font-family: 'Inter';
    color:  #1704aa;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 42%;
}



.userField{

    margin-top: 0.4%;
    margin-left: 42%;
}

.updateInfoButton{
    width: 400px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #04BF55;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 0%;
    margin-left: 35%;
    text-align: center;
}


.adminOptions{

    width: 400px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #04BF55;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 0%;
    margin-left: 37%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;

}

.adminsubmitsignin{
    background-color: #403BBF;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    width: 90%;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}


.successTitle{
    font-size: 80px;
    font-weight: 350;
    background-image: linear-gradient(to left, #04BF55, #403BBF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}



.mainbox{
    text-align: center;
    margin-left: 43%;
    margin-top: 3%;
    background-color: #403BBF;
    color: aliceblue;
    font: normal 20px/42px; 
}

.selectButton{
    width: 70px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    color: #000;
    background-color: #04BF55;
    border: none;
    border-radius: 46px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    /* margin-top: 0%;
    margin-left: 35%;
    text-align: center; */
}

.mainboxselectUser{
    text-align: center;
    background-color: #403BBF;
    color: aliceblue; 
    width: 60%;
    /* margin-left: 45%; */
    text-align: center;
}