body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    overflow: auto;
}

.checkoutContainer {
    display: flex;
    flex-direction: row;
    margin: 5%;
    width: auto;
    height: auto;
    overflow: hidden;
}

.checkOutInfo {
    position: static;
    margin-right: 2.5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.checkOutInfo h2 {
    margin: 0;
    padding: 2%;
    color: whitesmoke;
    background-color: #403BBF;
    overflow: hidden;
}

.contact {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-width: 0;
    margin-bottom: 3%;
    padding-bottom: 3%;
    overflow: hidden;
}

.passCreation {
    visibility: hidden;
}

.delivery{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-width: 0;
    margin-bottom: 3%;
    padding-bottom: 3%;
    overflow: hidden;
}

.payment {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-width: 0;
    margin-bottom: 3%;
    padding-bottom: 3%;
    overflow: hidden;
}

.contact button, .delivery button, .payment button {
    float: right;
    background-color: #403BBF;
    width: fit-content;
    border-radius: 1.5rem;
    overflow: hidden;
    padding: 1%;
}

.cartInCheckOut {
    position: static;
    margin-left: 2.5%;
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-width: 0;
}

.cartInCheckOut h2 {
    margin: 0;
    padding: 2%;
    color: whitesmoke;
    background-color: #403BBF;
    overflow: hidden;
}

.cartCheckout {
    display: block;
    overflow: hidden;
    margin: 0;
}

.cartCheckOutItemContainer {
    overflow: hidden;
}

.cartCheckOutItem {
    display: flex;
    border-style: solid;
    border-color: black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 1px;
}

.cartCheckoutItemIMGContainer {
    position: static;
    overflow: hidden;
    max-width: 30%;
    max-height: 100px;

    border-style: solid;
    border-color: black;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right-width: 1px;
}

.cartCheckOutItemIMG {
    width: auto;
    height: 100%;
    margin-left: 10%;
}

.cartCheckOutItemDesc {
   position: static;
   max-width: 70%;
   margin-left: 2.5%;
}

.cartCheckOutItemDesc h3{
    margin-left: 0;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-right: 0;
    padding: 0;
}

.cartCheckOutItemDesc p{
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: small;
 }

 .cartCheckOutCosts {
   display: flex;
    margin-left: auto;
    margin-right: auto;
 }

 .cartCheckOutCosts table{
    width: 100%;
  }

  .cartCheckOutCosts tbody{
    width: auto;
  }

  .cartCheckOutCosts tr{
    display: contents;
  }

  .cartCheckOutCosts td{
    width: 10%;
  }

 .cartCheckOutCosts h3{
    margin: 0;
    text-align: center;
  }

  .cartCheckOutCosts p{
    margin: 0;
    text-align: center;
  }
