/* The body's style */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.1);
}

/* Nav Bar's style */
.navBar {
    background-color: #403BBF;
    flex: 1 1 auto;
    height: 15%;
  }

/* Logo's container's style */
.logoElement {
    margin-left: auto; /* First styling to fit the image to the center of the page */
    margin-right: auto; /* Second styling to fit the image to the center of the page */
    height: 100%;
    width: fit-content;
    padding: 2px;
  }

/* The logo's style */
.logo {
    max-height: 100%;
    max-width: 100%;
    padding-left: 1%;
}

/* The first header's style */
.headerOne {
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

/* */
.formBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;

}

/* */
.loginFill {
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 44px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    border-radius: 15px;


}


/* */
::placeholder {
    text-size-adjust: 100%;
    text-align: start;
    font-size: large;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: #343434;
    text-indent: 4%;
}

/* */
.submitButton {
    background-color: #403BBF;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    width: 90%;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}
