.navBar ul {
    background-color: #403BBF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.navBar li {
    display: block;
    float: right;
    padding: 1.5%;
    margin: 0;
}

.navBar li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.navLogo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    padding-left: 1%;
}

.dropdown:hover .dropdownmenu {display: block;}

.dropdownmenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdownmenu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dropdownbtn{
    background-color: #1704aa;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    size: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }








