/* Color Theme Swatches in Hex */
.Arbostar®-1-hex { color: #403BBF; }
.Arbostar®-2-hex { color: #06BF69; }
.Arbostar®-3-hex { color: #ACF2D1; }
.Arbostar®-4-hex { color: #04BF55; }
.Arbostar®-5-hex { color: #F2F2F2; }

p{
  text-align: center;
  color:black;
  font-size: 20px;
  font-family: 'Inter';
}

input{
    padding: 10px;
    margin: 10px auto;
    font-size:20px;
    border-radius: 15px;
    width:322px;
    height:43px;
}

.shopBody{
  background-color: rgba(0,0,0,.1);
  margin: 0px;
  overflow: auto;
}

#suggestedItemsTitle, #shopMoreTitle{
  font-family: 'Inter';
  margin-top: 25px;
  margin-bottom: 25px;
  border: black solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  background-color: #403BBF;
  width: 100%;
  height: fit-content;
}

#suggestedItemContainer, #shopMoreContainer{
  display: flex;
  color: white;
  width: fit-content;
  height: fit-content;
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: auto;
}
#suggestedItemContainer::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.suggestedItem{
  background-color: white;
  width: initial;
  height: fit-content;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.2) !important;
  margin: 10px;
  margin-bottom: auto;
  margin-right: auto;
}
.suggestedItem:hover{
  border: 1px solid black;
}

.productImage{
  width: 100px;
  height: 100px;
  padding-top: 15px;
}

.itemName {
  color: black;
  font-size: 20px;
  margin-top: 25px;
}

.itemPrice{
  color: black;
  margin-top: -5px;
  font-size: 12px;
}

.aisleImage{
  width: 150px;
  height: 150px;
  padding-top: 15px;
}

.shopMore {
  background-color: white;
  min-width: 225px;
  height: 225px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.2) !important;
  margin-left: 15px;
  margin-right: 15px;
}

.shopMore:hover{
  border: 1px solid black;
}

.aisleButton{
  font-size: 17px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #403BBF;
  border-style: none;
  margin-top: 10px;
  width: 250px;
  height: 50px;
}

.cart {
  overflow: auto;
}

.cartButton {
  font-size: 17px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #403BBF;
  border-style: none;
  margin-top: 2px;
  width: 175px;
  height: 45px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  
}
